* {
  font-family: 'Karla', sans-serif;
  background-color: #060607;
  margin: 0;
  padding: 0; }

body {
  font-size: 1rem;
  color: #fff;
  line-height: 140%; }
  body header {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #060607; }
    @media only screen and (min-width: 900px) {
      body header {
        max-width: 800px;
        width: 100%;
        margin: 0 auto; } }
    @media only screen and (min-width: 1200px) {
      body header {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto; } }
    body header a.logo {
      padding: 20px 20px;
      color: #fff;
      text-decoration: none;
      /*#jobtitle {
      color: $accent-color;
      font-size: 18px;

      @include for-phone-only {
      font-size: 14px;
    }
  }*/ }
      body header a.logo #name {
        font-size: 18px; }
        @media only screen and (min-width: 1200px) {
          body header a.logo #name {
            font-size: 25px;
            font-weight: lighter; } }
    body header nav .hamburger {
      width: 30px;
      height: 30px;
      padding: 25px;
      display: flex;
      z-index: 10;
      position: absolute;
      top: 0;
      right: 0;
      flex-direction: column;
      justify-content: space-between;
      background-color: #060607; }
      body header nav .hamburger:hover span {
        background-color: #808080; }
      @media only screen and (min-width: 1200px) {
        body header nav .hamburger {
          display: none; } }
      body header nav .hamburger span {
        background-color: #fff;
        display: flex;
        transform-origin: center;
        transition: all ease 240ms;
        width: 100%;
        height: 5px; }
      body header nav .hamburger.close {
        justify-content: center; }
        body header nav .hamburger.close span:nth-child(1) {
          transform: rotate(45deg) translateY(4px) translateX(3px); }
        body header nav .hamburger.close span:nth-child(2) {
          transform: rotate(-45deg); }
        body header nav .hamburger.close span:nth-child(3) {
          opacity: 0; }
    body header nav ul.navigation-items {
      opacity: 0;
      visibility: hidden;
      display: flex;
      transition: all ease 420ms;
      position: absolute;
      visibility: visible;
      flex-direction: column;
      justify-content: center;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1; }
      @media only screen and (min-width: 1200px) {
        body header nav ul.navigation-items {
          position: relative;
          flex-direction: row;
          justify-content: flex-end;
          list-style-type: none;
          /*margin-right: 10px;*/
          opacity: 1;
          visibility: visible; } }
      body header nav ul.navigation-items.hamburger-overlay {
        display: flex;
        opacity: 1;
        visibility: visible; }
      @media only screen and (min-width: 1200px) {
        body header nav ul.navigation-items li {
          display: inline-block; } }
      body header nav ul.navigation-items a {
        padding: 14px 20px;
        display: block;
        text-align: center;
        text-decoration: none;
        color: #fff;
        font-size: 1.75rem; }
        body header nav ul.navigation-items a:hover {
          color: #808080;
          transition: all ease 420ms; }
        @media only screen and (min-width: 1200px) {
          body header nav ul.navigation-items a {
            font-size: 1rem; }
            body header nav ul.navigation-items a.current:link, body header nav ul.navigation-items a.current:visited, body header nav ul.navigation-items a.current:hover {
              color: #808080; }
            body header nav ul.navigation-items a:hover {
              color: #808080; } }
  body .wrapper {
    margin-left: 10px;
    margin-right: 10px; }
    @media only screen and (min-width: 600px) {
      body .wrapper {
        max-width: 500px;
        width: 100%;
        margin: 0 auto; } }
    @media only screen and (min-width: 900px) {
      body .wrapper {
        max-width: 800px;
        width: 100%;
        margin: 0 auto; } }
    @media only screen and (min-width: 1200px) {
      body .wrapper {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto; } }
    body .wrapper svg {
      display: flex;
      justify-content: center;
      height: 70vh;
      margin: 0 auto; }
      @media only screen and (min-width: 1800px) {
        body .wrapper svg {
          height: 50vh; } }
      body .wrapper svg .st0 {
        fill: none;
        stroke: #4D4D4D;
        stroke-width: 3;
        stroke-miterlimit: 10; }
      body .wrapper svg .st1 {
        fill: #4D4D4D; }
      body .wrapper svg .st2 {
        fill: none;
        stroke: #4D4D4D;
        stroke-width: 3;
        stroke-linecap: round;
        stroke-miterlimit: 10; }
      body .wrapper svg .st3 {
        fill: none;
        stroke: #999999;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10; }
      body .wrapper svg .st4 {
        fill: none;
        stroke: #FC7C8B;
        stroke-width: 3;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
        stroke-dasharray: 0,18,25,12,35,0; }
      body .wrapper svg .st5 {
        fill: none;
        stroke: #A1A5D3;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10; }
      body .wrapper svg .st6 {
        fill: #FF3948; }
      body .wrapper svg .st7 {
        fill: #22B573; }
      body .wrapper svg .st8 {
        fill: none;
        stroke: #FC7C8B;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10; }
      body .wrapper svg .st9 {
        fill: none;
        stroke: #A1A5D3;
        stroke-width: 2;
        stroke-miterlimit: 10; }
      body .wrapper svg .st10 {
        fill: #A1A5D3; }
      body .wrapper svg .st11 {
        fill: #FC7C8B; }
      body .wrapper svg .st12 {
        fill: none;
        stroke: #A1A5D3;
        stroke-width: 3;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10; }
    body .wrapper .default-container {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;
      padding-top: 80px;
      padding-bottom: 40px;
      color: #fff;
      font-size: 1rem; }
      body .wrapper .default-container.hero {
        padding-top: 40px;
        padding-bottom: 80px; }
      @media only screen and (min-width: 900px) {
        body .wrapper .default-container {
          flex-direction: row; } }
      body .wrapper .default-container .box-style {
        padding: 0 10px; }
        @media only screen and (min-width: 900px) {
          body .wrapper .default-container .box-style {
            width: 50%;
            padding: 0 20px; } }
        body .wrapper .default-container .box-style.right {
          display: flex; }
          @media only screen and (max-width: 599px) {
            body .wrapper .default-container .box-style.right {
              margin-bottom: 20px; } }
          body .wrapper .default-container .box-style.right img {
            margin: 0 auto;
            align-self: center; }
            @media only screen and (max-width: 599px) {
              body .wrapper .default-container .box-style.right img {
                width: 100%;
                height: auto; } }
        body .wrapper .default-container .box-style.left h2 {
          margin-bottom: 20px; }
        body .wrapper .default-container .box-style.left p {
          margin-bottom: 20px;
          color: #808080; }
      body .wrapper .default-container p.hero-headline {
        font-size: 45px;
        line-height: 130%; }
        @media only screen and (max-width: 599px) {
          body .wrapper .default-container p.hero-headline {
            text-align: center;
            font-size: 35px; } }
    body .wrapper .skills-section-container {
      padding: 40px 20px; }
    body .wrapper .headline {
      margin-top: 20px 0;
      padding: 0 20px; }
      @media only screen and (min-width: 1200px) {
        body .wrapper .headline {
          flex-direction: row;
          justify-content: space-between; } }
    body .wrapper .skills-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 40px;
      padding-bottom: 40px;
      color: #808080;
      /*&.programming {
      padding-bottom: 40px;
    }*/ }
      @media only screen and (min-width: 600px) {
        body .wrapper .skills-section {
          flex-direction: row;
          justify-content: space-between; } }
      body .wrapper .skills-section .skill-box {
        padding-bottom: 80px;
        justify-content: center;
        text-align: center; }
        body .wrapper .skills-section .skill-box .software {
          border: 2px solid red; }
        @media only screen and (min-width: 1200px) {
          body .wrapper .skills-section .skill-box {
            width: 25%;
            padding: 0 20px; } }
        body .wrapper .skills-section .skill-box img {
          width: 80px;
          padding-bottom: 10px; }
          @media only screen and (min-width: 600px) {
            body .wrapper .skills-section .skill-box img {
              width: 50px; } }
    body .wrapper .work-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 10px 0;
      padding: 20px; }
      @media only screen and (min-width: 1200px) {
        body .wrapper .work-container {
          flex-direction: row;
          justify-content: space-between; } }
    body .wrapper footer {
      justify-content: space-between;
      padding: 0 20px 20px 20px;
      align-items: flex-end; }
      @media only screen and (min-width: 900px) {
        body .wrapper footer {
          /*padding: 50px 0px 20px 0px;*/
          display: flex;
          flex-direction: row;
          justify-content: space-between; } }
      body .wrapper footer a.impressum {
        text-decoration: none;
        color: #fff;
        align-self: flex-end; }
        body .wrapper footer a.impressum:hover {
          color: #808080;
          transition: all ease 420ms; }
      body .wrapper footer ul {
        list-style: none;
        display: flex;
        position: relative;
        flex-direction: row;
        list-style-type: none; }
        @media only screen and (max-width: 599px) {
          body .wrapper footer ul {
            display: none; } }
        body .wrapper footer ul li {
          text-decoration: none;
          list-style: none; }
        body .wrapper footer ul li:hover .icon-style {
          fill: #808080; }
        body .wrapper footer ul a {
          align-self: flex-end;
          text-decoration: none;
          display: block; }
          body .wrapper footer ul a:hover {
            color: #808080;
            transition: all ease 420ms; }
        body .wrapper footer ul .icon-style {
          fill: #fff; }
        body .wrapper footer ul svg {
          fill: #fff;
          height: 20px;
          width: auto;
          padding-left: 10px; }

/*# sourceMappingURL=stylesheet.css.map */