* {
  font-family: 'Karla', sans-serif;
  background-color: #000;
  margin: 0;
  padding: 0; }

body {
  font-size: 1.125rem;
  color: #fff;
  line-height: 140%; }
  body header {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    @media only screen and (min-width: 1200px) {
      body header {
        margin-left: 200px;
        margin-right: 200px; } }
    body header a.logo {
      padding: 14px 20px;
      color: #fff;
      text-decoration: none; }
      body header a.logo #name {
        font-size: 18px; }
        @media only screen and (min-width: 1200px) {
          body header a.logo #name {
            font-size: 25px; } }
      body header a.logo #jobtitle {
        color: #808080;
        font-size: 18px; }
        @media only screen and (max-width: 599px) {
          body header a.logo #jobtitle {
            font-size: 14px; } }
    body header nav .hamburger {
      width: 30px;
      height: 30px;
      padding: 25px;
      display: flex;
      z-index: 10;
      position: absolute;
      top: 0;
      right: 0;
      flex-direction: column;
      justify-content: space-between;
      background-color: #000; }
      body header nav .hamburger:hover span {
        background-color: #808080; }
      @media only screen and (min-width: 1200px) {
        body header nav .hamburger {
          display: none; } }
      body header nav .hamburger span {
        background-color: #fff;
        display: flex;
        transform-origin: center;
        transition: all ease 240ms;
        width: 100%;
        height: 5px; }
      body header nav .hamburger.close {
        justify-content: center; }
        body header nav .hamburger.close span:nth-child(1) {
          transform: rotate(45deg) translateY(4px) translateX(3px); }
        body header nav .hamburger.close span:nth-child(2) {
          transform: rotate(-45deg); }
        body header nav .hamburger.close span:nth-child(3) {
          opacity: 0; }
    body header nav ul.navigation-items {
      opacity: 0;
      visibility: hidden;
      display: none;
      transition: all ease 420ms;
      position: absolute; }
      @media only screen and (min-width: 1200px) {
        body header nav ul.navigation-items {
          display: flex;
          position: relative;
          flex-direction: row;
          justify-content: flex-end;
          list-style-type: none;
          margin-right: 10px;
          opacity: 1;
          visibility: visible; } }
      body header nav ul.navigation-items.hamburger-overlay {
        display: flex;
        opacity: 1;
        visibility: visible;
        flex-direction: column;
        justify-content: center;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1; }
      @media only screen and (min-width: 1200px) {
        body header nav ul.navigation-items li {
          display: inline-block; } }
      body header nav ul.navigation-items a {
        padding: 14px 20px;
        display: block;
        text-align: center;
        text-decoration: none;
        color: #fff;
        font-size: 1.75rem; }
        body header nav ul.navigation-items a:hover {
          color: #808080;
          transition: all ease 420ms; }
        @media only screen and (min-width: 1200px) {
          body header nav ul.navigation-items a {
            font-size: 1.125rem; }
            body header nav ul.navigation-items a.current:link, body header nav ul.navigation-items a.current:visited, body header nav ul.navigation-items a.current:hover {
              background-color: #fff;
              color: #000; }
            body header nav ul.navigation-items a:hover {
              color: #808080; } }
  body .wrapper {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column; }
    @media only screen and (min-width: 600px) {
      body .wrapper {
        margin-left: 50px;
        margin-right: 50px; } }
    @media only screen and (min-width: 1200px) {
      body .wrapper {
        margin-left: 200px;
        margin-right: 200px;
        flex-direction: row; } }
    @media only screen and (min-width: 1200px) {
      body .wrapper .index-illustration {
        margin: 0 auto;
        width: 50vh;
        height: 50vh; } }
    @media only screen and (min-width: 600px) {
      body .wrapper .index-illustration {
        margin: 0 auto;
        width: 50vh;
        height: 50vh; } }
    body .wrapper .index-illustration .st0 {
      fill: none;
      stroke: #A1A5D3;
      stroke-width: 3;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10; }
    body .wrapper .index-illustration .st1 {
      fill: none;
      stroke: #4D4D4D;
      stroke-width: 3;
      stroke-miterlimit: 10; }
    body .wrapper .index-illustration .st2 {
      fill: #4D4D4D; }
    body .wrapper .index-illustration .st3 {
      fill: none;
      stroke: #4D4D4D;
      stroke-width: 3;
      stroke-linecap: round;
      stroke-miterlimit: 10; }
    body .wrapper .index-illustration .st4 {
      fill: none;
      stroke: 999999;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10; }
    body .wrapper .index-illustration .st5 {
      fill: none;
      stroke: #fc7c8b;
      stroke-width: 3;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
      stroke-dasharray: 0,18,25,12,35,0; }
    body .wrapper .index-illustration .st6 {
      fill: none;
      stroke: #A1A5D3;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10; }
    body .wrapper .index-illustration .st7 {
      fill: #22b573; }
    body .wrapper .index-illustration .st8 {
      fill: none;
      stroke: #fc7c8b;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10; }
    body .wrapper .index-illustration .st9 {
      fill: none;
      stroke: #A1A5D3;
      stroke-width: 2;
      stroke-miterlimit: 10; }
    body .wrapper .index-illustration .st10 {
      fill: #A1A5D3; }
    body .wrapper .index-illustration .st11 {
      fill: #ff3948; }
    body .wrapper .index-illustration .st12 {
      fill: #fc7c8b; }
    body .wrapper .info-introduction {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      padding-top: 80px;
      padding-bottom: 80px;
      color: #fff;
      font-size: 1.125rem;
      line-height: 130%; }
      @media only screen and (min-width: 1200px) {
        body .wrapper .info-introduction {
          flex-direction: row; } }
      body .wrapper .info-introduction .box-style {
        padding: 0 10px; }
        @media only screen and (min-width: 1200px) {
          body .wrapper .info-introduction .box-style {
            width: 50%;
            padding: 0 20px; } }
        body .wrapper .info-introduction .box-style.left {
          align-self: center; }
        body .wrapper .info-introduction .box-style p {
          margin-bottom: 20px; }
        @media only screen and (max-width: 599px) {
          body .wrapper .info-introduction .box-style img {
            width: 100%;
            height: auto; } }
    body .wrapper .vertical-template {
      display: flex;
      flex-direction: column;
      padding-top: 80px;
      padding-left: 20px; }
  body footer {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10px;
    padding: 14px 0;
    font-size: 1.125rem;
    color: #fff; }
    body footer a {
      text-decoration: none;
      padding: 0 20px; }
    @media only screen and (min-width: 1200px) {
      body footer {
        margin: 0 200px; } }

/*# sourceMappingURL=stylesheet.css.map */