* {
  font-family: 'Karla', sans-serif;
  background-color: #000;
  margin: 0;
  padding: 0;
}

//colors//
$primary-color: #000;
$secondary-color: #fff;
$accent-color: #808080;

//font sizes 18px, 24px & 30px//
$headline: 1.5rem;
$copy: 1.125rem;
$icon-size: 1.875rem;

//media query sizes//
@mixin for-phone-only {
  @media only screen and (max-width: 599px) { @content; }
}

@mixin for-tablet-portrait-up {
  @media only screen and (min-width: 600px) { @content; }
}

@mixin for-tablet-landscape-up {
  @media only screen and (min-width: 900px) { @content; }
}

@mixin for-desktop-up {
  @media only screen and (min-width: 1200px) { @content; }
}

@mixin for-big-desktop-up {
  @media only screen and (min-width: 1800px) { @content; }
}





.wrapper {
  margin-left: 10px;
  margin-right: 10px;
  background-color: red;

    @include for-tablet-portrait-up {
      background-color: #a8ff00;
      margin-left: 50px;
      margin-right: 50px;
    }

    @include for-big-desktop-up {
      margin-left: 200px;
      margin-right: 200px;
    }
  }

header {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

    @include for-desktop-up {
      margin-left: 200px;
      margin-right: 200px;
    }



.logo {
  padding: 14px 20px;
  color: $secondary-color;


    #name {
      font-size: 18px;

      @include for-desktop-up {
        font-size: 25px;
      }
    }

    #jobtitle {
      color: $accent-color;
      font-size: 18px;

      @include for-phone-only {
        display: none;
      }
    }
  }

nav {

  .hamburger {
    width: 30px;
    height: 30px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000;
    @include for-desktop-up {
      display: none;
    }


    span {
      background-color: #fff;
      display: flex;
      transform-origin: center;
      transition: all ease 240ms;
      width: 100%;
      height: 5px;
    }

    &.close {
      justify-content: center;

      span {
        &:nth-child(1) {
          transform: rotate(45deg) translateY(4px) translateX(3px)
        }

        &:nth-child(2) {
          transform: rotate(-45deg)
        }

         &:nth-child(3) {
          opacity: 0;
        }
      }
    }
  }

  ul {
    display: none;

    @include for-desktop-up {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      list-style-type: none;
      margin-right: 10px;
    }
  }

  li {
    display: none;

    @include for-desktop-up {
      display: inline-block;
    }
  }

  a {
    padding: 14px 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: $secondary-color;
    font-size: $icon-size;

    @include for-desktop-up {
      font-size: $copy;
    }
  }
}

  a:hover {
    background-color: $secondary-color;
    color: $primary-color;
  }

  a:active {
    background-color: $secondary-color;
    color: $primary-color;
  }
}
