

* {
  font-family: 'Karla', sans-serif;
  background-color: #060607;
  margin: 0;
  padding: 0;
}

//main colors//
$primary-color: #060607;
$secondary-color: #fff;
$accent-color: #808080;

//illustration colors//
$grey: #4D4D4D;
$bright-lilac: 999999;
$lilac: #A1A5D3;
$rose: #fc7c8b;
$red: #ff3948;
$grassgreen: #22b573;

//font sizes//
$micro-copy: 0.875rem; //12px
$copy: 1rem; //16px
$copy-bigscreen: 1.25rem; //20px
$headline: 1.5rem; //24px
$mobile-nav: 1.75rem; //28px


//widths//


//media query sizes//
@mixin for-phone-only {
  @media only screen and (max-width: 599px) { @content; }
}

@mixin for-tablet-portrait-up {
  @media only screen and (min-width: 600px) { @content; }
}

@mixin for-tablet-inbetween {
  @media only screen and (min-width: 768px) { @content; }
}

@mixin for-tablet-landscape-up {
  @media only screen and (min-width: 900px) { @content; }
}

@mixin for-desktop-up {
  @media only screen and (min-width: 1200px) { @content; }
}

@mixin for-big-desktop-up {
  @media only screen and (min-width: 1800px) { @content; }
}

body {
  font-size: $copy;
  color: $secondary-color;
  line-height: 140%;



  header {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-color;

    @include for-tablet-landscape-up {
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
    }

    @include for-desktop-up {
      max-width: 1100px;
      width: 100%;
      margin: 0 auto;

    }

    //@include for-big-desktop-up {
    //  max-width: 1500px;
    //  width: 100%;
    //  margin: 0 auto;
    //  }

    a.logo {
      padding: 20px 20px;
      color: $secondary-color;
      text-decoration: none;

      &.logo:hover {
        color: $accent-color;
        transition: all ease 240ms;
      }

      #name {
        font-size: 18px;

        @include for-desktop-up {
          font-size: 25px;
          font-weight: lighter;
        }
      }

      /*#jobtitle {
      color: $accent-color;
      font-size: 18px;

      @include for-phone-only {
      font-size: 14px;
    }
  }*/
}

nav {

  .hamburger {
    width: 30px;
    height: 30px;
    padding: 25px;
    display: flex;
    z-index: 10;
    position: absolute;
    top: 0;
    right:0;
    flex-direction: column;
    justify-content: space-between;
    background-color: $primary-color;

    &:hover {
      span {
        background-color: $accent-color;
      }
    }

    @include for-desktop-up {
      display: none;
    }

    span {
      background-color: #fff;
      display: flex;
      transform-origin: center;
      transition: all ease 240ms;
      width: 100%;
      height: 5px;
    }

    &.close {
      justify-content: center;

      span {

        &:nth-child(1) {
          transform: rotate(45deg) translateY(4px) translateX(3px)
        }

        &:nth-child(2) {
          transform: rotate(-45deg)
        }

        &:nth-child(3) {
          opacity: 0;
        }
      }
    }
  }

  ul.navigation-items {
    opacity:0;
    visibility: hidden;
    display: flex;
    transition: all ease 420ms;
    position: absolute;
    visibility: visible;
    flex-direction: column;
    justify-content: center;

    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;

    @include for-desktop-up {
      position: relative;
      flex-direction: row;
      justify-content: flex-end;
      list-style-type: none;
      /*margin-right: 10px;*/
      opacity: 1;
      visibility: visible;

    }

    &.hamburger-overlay {
      display: flex;
      opacity:1;
      visibility: visible;
    }


    li {

      @include for-desktop-up {
        display: inline-block;
      }
    }

    a {
      padding: 14px 20px;
      display: block;
      text-align: center;
      text-decoration: none;
      color: $secondary-color;
      font-size: $mobile-nav;

      &:hover {
        color: $accent-color;
        transition: all ease 420ms;
      }

      @include for-desktop-up {
        font-size: $copy;

        &.current:link, &.current:visited, &.current:hover  {
          color: $accent-color;
        }

        &:hover {
          color: $accent-color;
        }
      }
    }
  }
}
}

.wrapper {
  margin-left: 10px;
  margin-right: 10px;


  @include for-tablet-portrait-up {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }

  @include for-tablet-landscape-up {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }

  @include for-desktop-up {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
  }



  //Index Illustration//
  svg {

    display: flex;
    justify-content: center;
    height: 70vh;
    margin: 0 auto;

    @include for-big-desktop-up {
      height: 50vh;
    }

    .st0 {
      fill:none;
      stroke:#4D4D4D;
      stroke-width:3;
      stroke-miterlimit:10;
    }

    .st1 {
      fill:#4D4D4D;
    }

    .st2 {
      fill:none;
      stroke:#4D4D4D;
      stroke-width:3;
      stroke-linecap:round;
      stroke-miterlimit:10;
    }

    .st3 {
      fill:none;
      stroke:#999999;
      stroke-width:2;
      stroke-linecap:round;
      stroke-linejoin:round;
      stroke-miterlimit:10;
    }

    .st4 {
      fill:none;
      stroke:#FC7C8B;
      stroke-width:3;
      stroke-linecap:round;
      stroke-linejoin:round;
      stroke-miterlimit:10;
      stroke-dasharray:0,18,25,12,35,0;
    }

    .st5 {
      fill:none;
      stroke:#A1A5D3;
      stroke-width:2;
      stroke-linecap:round;
      stroke-linejoin:round;
      stroke-miterlimit:10;
    }

    .st6 {
      fill:#FF3948;
    }

    .st7 {
      fill:#22B573;
    }

    .st8 {
      fill:none;
      stroke:#FC7C8B;
      stroke-width:2;
      stroke-linecap:round;
      stroke-linejoin:round;
      stroke-miterlimit:10;
    }

    .st9 {
      fill:none;
      stroke:#A1A5D3;
      stroke-width:2;
      stroke-miterlimit:10;
    }

    .st10 {
      fill:#A1A5D3;
    }

    .st11 {
      fill:#FC7C8B;
    }
    .st12 {
      fill:none;
      stroke:#A1A5D3;
      stroke-width:3;
      stroke-linecap:round;
      stroke-linejoin:round;
      stroke-miterlimit:10;
    }
  }


  .default-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items:center;
    padding-top: 80px;
    padding-bottom: 40px;
    color: $secondary-color;
    font-size: $copy;


    &.hero {
      padding-top: 40px;
      padding-bottom: 80px;
    }

    &.contact-box {
      justify-content: center;
      flex-direction: column;

      h2 {
        padding-bottom: 20px;
      }
    }

    &.portfolio-line {
      border-bottom: 1px solid $accent-color;
    }

    @include for-tablet-landscape-up {
      flex-direction: row;
    }

    .box-style {
      padding: 0 20px;

      @include for-tablet-landscape-up {
        width: 50%;

      }

      &.right {
        display: flex;

        @include for-phone-only {
          margin-bottom: 20px;
        }

        img {
          width: 100%;
          margin: 0 auto;
          align-self: center;
          @include for-phone-only {
            width: 100%;
            height: auto;
          }
        }
      }

      &.left {
        h2 {
          margin-bottom: 20px;
        }

        p {
          margin-bottom: 20px;
          color: $accent-color;
        }
      }
    }

    .box-style-full-width {
      width: 80%;
      margin: 0 auto;
    }

    .hero-headline {
      font-size: 45px;
      line-height: 130%;
      text-align: left;

      @include for-phone-only {
        text-align: center;
        font-size: 35px;
      }
    }

    .contact-headline {
      font-size: 45px;
      color: $secondary-color;
    }
  }

  .skills-section-container {
    padding: 40px 20px;
  }

  .headline {
    margin-top: 20px 0;
    //margin-bottom: 20px;
    padding: 0 20px;

    @include for-desktop-up {
      flex-direction: row;
      justify-content: space-between;
    }

  }

  .skills-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: $accent-color;

    @include for-tablet-portrait-up {
      flex-direction: row;
      justify-content: space-between;
    }

    /*&.programming {
    padding-bottom: 40px;
  }*/


  .skill-box {
    padding-bottom: 80px;
    justify-content: center;
    text-align: center;

    .software {
      border: 2px solid red;
    }

    @include for-desktop-up {
      width: 25%;
      padding: 0 20px;
    }

    img {
      width: 80px;
      padding-bottom: 10px;

      @include for-tablet-portrait-up {
        width: 50px;
      }
    }
  }
}

//Arbeiten//
a.button {
  border: 1px solid $secondary-color;
  color: $secondary-color;
  text-align: center;
  display: inline-block;
  padding: 10px;
  border-radius:3px;
  text-decoration: none;

  &:hover {
    color: $accent-color;
    border-color: $accent-color;
    transition: all ease 420ms;
  }
}

ul {
  list-style: none;
  display: flex;
  position: relative;
  flex-direction: row;
  list-style-type: none;

  li {
    text-decoration: none;
    list-style: none;
  }

  li:hover {
    .icon-style {
      fill: $accent-color;
    }
  }

  a {
    align-self: flex-end;
    text-decoration: none;
    display: block;
    &:hover {
      color: $accent-color;
      transition: all ease 420ms;
    }
  }

  .icon-style {
    fill: $secondary-color;
  }

  svg {
    fill: #fff;
    height: 20px;
    width: auto;
    padding-left: 10px;
  }
}

footer {
  justify-content: space-between;
  padding: 0 20px 20px 20px;
  align-items: flex-end;

  @include for-tablet-landscape-up {
    /*padding: 50px 0px 20px 0px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  a.impressum {
    text-decoration: none;
    color: $secondary-color;
    align-self: flex-end;

    &:hover {
      color: $accent-color;
      transition: all ease 420ms;
    }
  }
}
}
}
