* {
  font-family: 'Karla', sans-serif;
  background-color: #000;
  margin: 0;
  padding: 0;
}

//main colors//
$primary-color: #000;
$secondary-color: #fff;
$accent-color: #808080;

//illustration colors//
$grey: #4D4D4D;
$bright-lilac: 999999;
$lilac: #A1A5D3;
$rose: #fc7c8b;
$red: #ff3948;
$grassgreen: #22b573;

//font sizes//
$micro-copy: 0.875rem; //12px
$copy: 1.125rem; //18px
$copy-bigscreen: 1.25rem; //20px
$headline: 1.5rem; //24px
$mobile-nav: 1.75rem; //28px

//media query sizes//
@mixin for-phone-only {
  @media only screen and (max-width: 599px) { @content; }
}

@mixin for-tablet-portrait-up {
  @media only screen and (min-width: 600px) { @content; }
}

@mixin for-tablet-landscape-up {
  @media only screen and (min-width: 900px) { @content; }
}

@mixin for-desktop-up {
  @media only screen and (min-width: 1200px) { @content; }
}

@mixin for-big-desktop-up {
  @media only screen and (min-width: 1800px) { @content; }
}

body {
  font-size: $copy;
  color: $secondary-color;
  line-height: 130%;



  header {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-color;


    @include for-desktop-up {
      margin-left: 200px;
      margin-right: 200px;
    }

    a.logo {
      padding: 14px 20px;
      color: $secondary-color;
      text-decoration: none;


      #name {
        font-size: 18px;

        @include for-desktop-up {
          font-size: 25px;
        }
      }

      #jobtitle {
        color: $accent-color;
        font-size: 18px;

        @include for-phone-only {
          font-size: 14px;
        }
      }
    }

    nav {

      .hamburger {
        width: 30px;
        height: 30px;
        padding: 25px;
        display: flex;
        z-index: 10;
        position: absolute;
        top: 0;
        right:0;
        flex-direction: column;
        justify-content: space-between;
        background-color: #000;

        &:hover {
          span {
            background-color: $accent-color;
          }
        }

        @include for-desktop-up {
          display: none;
        }

        span {
          background-color: #fff;
          display: flex;
          transform-origin: center;
          transition: all ease 240ms;
          width: 100%;
          height: 5px;
        }

        &.close {
          justify-content: center;

          span {

            &:nth-child(1) {
              transform: rotate(45deg) translateY(4px) translateX(3px)
            }

            &:nth-child(2) {
              transform: rotate(-45deg)
            }

            &:nth-child(3) {
              opacity: 0;
            }
          }
        }
      }

      ul.navigation-items {
        opacity:0;
        visibility: hidden;
        display: none;
        transition: all ease 420ms;
        position: absolute;

        @include for-desktop-up {
          display: flex;
          position: relative;
          flex-direction: row;
          justify-content: flex-end;
          list-style-type: none;
          margin-right: 10px;
          opacity: 1;
          visibility: visible;
        }

        &.hamburger-overlay {
          display: flex;
          opacity:1;
          visibility: visible;
          flex-direction: column;
          justify-content: center;

          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          z-index: 1;
        }


        li {

          @include for-desktop-up {
            display: inline-block;
          }
        }

        a {
          padding: 14px 20px;
          display: block;
          text-align: center;
          text-decoration: none;
          color: $secondary-color;
          font-size: $mobile-nav;

          &:hover {
            color: $accent-color;
            transition: all ease 420ms;
          }

          @include for-desktop-up {
            font-size: $copy;

            &.current:link, &.current:visited, &.current:hover  {
              color: $accent-color;
            }

            &:hover {
              color: $accent-color;
            }
          }
        }
      }
    }
  }

  .wrapper {
    margin-left: 10px;
    margin-right: 10px;



    @include for-tablet-portrait-up {
      margin-left: 50px;
      margin-right: 50px;
    }

    @include for-desktop-up {
      margin-left: 200px;
      margin-right: 200px;

    }

    .index-illustration {

      @include for-desktop-up {
        margin: 0 auto;
        width: 50vh;
        height: 100vh;
      }

      @include for-tablet-portrait-up {
        margin: 0 auto;
        //width: 50vh;
        height: 100vh;
      }

      .st0 {
        fill:none;
        stroke:$lilac;
        stroke-width:3;
        stroke-linecap:round;
        stroke-linejoin:round;
        stroke-miterlimit:10;
      }

      .st1 {
        fill:none;
        stroke:$grey;
        stroke-width:3;
        stroke-miterlimit:10;
      }

      .st2 {
        fill:$grey;
      }

      .st3 {
        fill:none;
        stroke:$grey;
        stroke-width:3;
        stroke-linecap:round;
        stroke-miterlimit:10;
      }

      .st4 {
        fill:none;
        stroke:$bright-lilac;
        stroke-width:2;
        stroke-linecap:round;
        stroke-linejoin:round;
        stroke-miterlimit:10;
      }

      .st5 {
        fill:none;
        stroke:$rose;
        stroke-width:3;
        stroke-linecap:round;
        stroke-linejoin:round;
        stroke-miterlimit:10;
        stroke-dasharray:0,18,25,12,35,0;
      }

      .st6 {
        fill:none;
        stroke:$lilac;
        stroke-width:2;
        stroke-linecap:round;
        stroke-linejoin:round;
        stroke-miterlimit:10;
      }
      .st7 {
        fill:$grassgreen;
      }

      .st8 {
        fill:none;
        stroke:$rose;
        stroke-width:2;
        stroke-linecap:round;
        stroke-linejoin:round;
        stroke-miterlimit:10;
      }

      .st9 {
        fill:none;
        stroke:$lilac;
        stroke-width:2;
        stroke-miterlimit:10;
      }

      .st10 {
        fill:$lilac;
      }

      .st11 {
        fill:$red;
      }

      .st12 {
        fill:$rose;
      }
    }


    .info-introduction {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      padding-top: 80px;
      padding-bottom: 80px;
      color: $secondary-color;
      font-size: $copy;
      line-height: 130%;

      @include for-desktop-up {
        flex-direction: row;
      }

      .box-style {
        padding: 0 10px;

        @include for-desktop-up {
          width: 50%;
          padding: 0 20px;
        }

        &.right {
          @include for-phone-only {
            margin-bottom: 20px;
          }
        }

        p {
          margin-bottom: 20px;
        }

        img {

          @include for-phone-only {
            width: 100%;
            height: auto;
          }
        }
      }
    }

    .headline {
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 0 20px;

      @include for-desktop-up {
        flex-direction: row;
        justify-content: space-between;
      }

    }

    .skills-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 40px;
      padding-bottom: 40px;
      color: $accent-color;

      @include for-desktop-up {
        flex-direction: row;
        justify-content: space-between;
      }

      &.programming {
        padding-bottom: 80px;
      }



      .skill-box {
        padding-bottom: 80px;
        justify-content: center;
        text-align: center;

        .software {
          border: 2px solid red;
        }

        @include for-desktop-up {
          width: 25%;
          padding: 0 20px;
        }

        img {
          width: 80px;
          padding-bottom: 10px;

          @include for-desktop-up {
            width: 50px;
          }
        }
      }
    }

    footer {
      justify-content: space-between;
      padding: 30px 10px;

      @include for-tablet-landscape-up {
        padding: 50px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

      }

      a {
        text-decoration: none;
        font-size: $micro-copy;
        color: $secondary-color;

        &:hover {
          color: $accent-color;
          transition: all ease 420ms;
        }
      }
    }
    .impressum {
      padding: 80px 20px;
      width: 50%;

      &.paragraph {
        padding-top: 50px;
      }

      p {
        margin-bottom: 20px;
      }

      h2 {
        margin: 20px 0;
      }

      h3 {
        margin-bottom: 10px;
      }
    }
  }
}
